@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lunchBox";
  src: url(./assets/font/Lunchbox-Bold/Lunchbox_Bold.ttf);
  font-weight: 700;
  ascent-override: 100%;
}
@font-face {
  font-family: "lunchBox";
  src: url(./assets/font/Lunchbox-Regular/Lunchbox.otf);
  font-weight: 400;
  ascent-override: 100%;
}
@font-face {
  font-family: "north-font";
  src: url(./assets/font/rainier-north-700.ttf);
  font-weight: 700;
}

@layer components {
  * {
    @apply font-lunchBox;
  }
  .container {
    @apply max-w-[1700px] mx-auto w-[90%];
  }

  .font-north {
    @apply font-north-font;
  }

  .pink-border-text {
    -webkit-text-stroke: 1px #e343a5;
  }

  .blue-border-text {
    -webkit-text-stroke: 1px #0388d4;
  }
}

.brand-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.hide-select-dropdown-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.product-selection-swiper {
  height: 100%;
}

.product-selection-swiper .swiper-wrapper {
  min-height: 100%;
}

.product-selection-swiper .swiper-slide {
  height: auto;
}
